In [1]:
!pip install -U keras-tuner

Collecting keras-tuner
  Downloading keras_tuner-1.4.6-py3-none-any.whl (128 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 128.9/128.9 kB 2.8 MB/s eta 0:00:00
Requirement already satisfied: keras in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.15.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (23.2)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from keras-tuner) (2.31.0)
Collecting kt-legacy (from keras-tuner)
  Downloading kt_legacy-1.0.5-py3-none-any.whl (9.6 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->keras-tuner) (2024.2.2)
Installing collected packages: kt-legacy, keras-tuner
Successfully installed keras-tuner-1.4.6 kt-legacy-1.0.5

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from tensorflow.keras import Sequential
import tensorflow as tf
from tensorflow.keras.layers import Dense
import keras_tuner as kf
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/Churn_Modelling.csv')

In [6]:
df

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [7]:
df.drop(columns = ['RowNumber'	,'CustomerId',	'Surname'], inplace=True)

In [8]:
df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [9]:
df = pd.get_dummies(data = df,columns=['Geography','Gender'])
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain,Gender_Female,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,1,0,0,1,0
1,608,41,1,83807.86,1,0,1,112542.58,0,0,0,1,1,0
2,502,42,8,159660.80,3,1,0,113931.57,1,1,0,0,1,0
3,699,39,1,0.00,2,0,0,93826.63,0,1,0,0,1,0
4,850,43,2,125510.82,1,1,1,79084.10,0,0,0,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,1,0,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,1,0,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,1,1,0,0,1,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1,0,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,1,0,0,1,0

In [10]:
x = df.drop(columns = ['Exited'])
y = df['Exited']

In [11]:
sc = StandardScaler()

x = sc.fit_transform(x)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.20, random_state=1)

In [14]:
ann = Sequential()

ann.add(Dense(units = 10, activation = 'relu'))
ann.add(Dense(units = 1, activation = 'sigmoid'))

ann.compile(optimizer = 'adadelta', loss = 'binary_crossentropy', metrics ='accuracy')

ann.fit(xtrain,ytrain,epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6781 - accuracy: 0.5925
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6773 - accuracy: 0.5939
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6764 - accuracy: 0.5950
Epoch 4/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6756 - accuracy: 0.5960
Epoch 5/100
250/250 [==============================] - 1s 4ms/step - loss: 0.6747 - accuracy: 0.5975
Epoch 6/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6738 - accuracy: 0.5993
Epoch 7/100
250/250 [==============================] - 1s 4ms/step - loss: 0.6730 - accuracy: 0.6005
Epoch 8/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6721 - accuracy: 0.6019
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6712 - accuracy: 0.6036
Epoch 10/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6703 - accuracy: 0.6049
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6694 - accuracy: 0.6065
Epoch 12/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6686 - accuracy: 0.6083
Epoch 13/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6677 - accuracy: 0.6100
Epoch 14/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6668 - accuracy: 0.6114
Epoch 15/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6660 - accuracy: 0.6119
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.6651 - accuracy: 0.6139
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6643 - accuracy: 0.6158
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6634 - accuracy: 0.6168
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6626 - accuracy: 0.6174
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6617 - accuracy: 0.6192
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6609 - accuracy: 0.6199
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6601 - accuracy: 0.6209
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6592 - accuracy: 0.6229
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6584 - accuracy: 0.6239
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6575 - accuracy: 0.6269
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6567 - accuracy: 0.6280
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6559 - accuracy: 0.6294
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6551 - accuracy: 0.6311
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6542 - accuracy: 0.6330
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6534 - accuracy: 0.6345
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6526 - accuracy: 0.6357
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6518 - accuracy: 0.6373
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6510 - accuracy: 0.6390
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6502 - accuracy: 0.6405
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6494 - accuracy: 0.6417
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6486 - accuracy: 0.6431
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6478 - accuracy: 0.6445
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6471 - accuracy: 0.6457
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6463 - accuracy: 0.6472
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6455 - accuracy: 0.6489
Epoch 41/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6448 - accuracy: 0.6499
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6440 - accuracy: 0.6509
Epoch 43/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6433 - accuracy: 0.6514
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6425 - accuracy: 0.6535
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6418 - accuracy: 0.6553
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6410 - accuracy: 0.6566
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6403 - accuracy: 0.6584
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6396 - accuracy: 0.6594
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6388 - accuracy: 0.6601
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6381 - accuracy: 0.6618
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6374 - accuracy: 0.6630
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6366 - accuracy: 0.6637
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6359 - accuracy: 0.6654
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6352 - accuracy: 0.6668
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6345 - accuracy: 0.6681
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6338 - accuracy: 0.6701
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6331 - accuracy: 0.6716
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6323 - accuracy: 0.6730
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6316 - accuracy: 0.6736
Epoch 60/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6309 - accuracy: 0.6749
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6302 - accuracy: 0.6760
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6295 - accuracy: 0.6779
Epoch 63/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6288 - accuracy: 0.6798
Epoch 64/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6281 - accuracy: 0.6816
Epoch 65/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6274 - accuracy: 0.6826
Epoch 66/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6267 - accuracy: 0.6839
Epoch 67/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6261 - accuracy: 0.6849
Epoch 68/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6254 - accuracy: 0.6861
Epoch 69/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6247 - accuracy: 0.6881
Epoch 70/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6240 - accuracy: 0.6898
Epoch 71/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6233 - accuracy: 0.6909
Epoch 72/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6227 - accuracy: 0.6919
Epoch 73/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6220 - accuracy: 0.6939
Epoch 74/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6213 - accuracy: 0.6942
Epoch 75/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6207 - accuracy: 0.6950
Epoch 76/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6200 - accuracy: 0.6957
Epoch 77/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6194 - accuracy: 0.6970
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6187 - accuracy: 0.6981
Epoch 79/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6181 - accuracy: 0.6986
Epoch 80/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6174 - accuracy: 0.6998
Epoch 81/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6168 - accuracy: 0.7007
Epoch 82/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6161 - accuracy: 0.7013
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6155 - accuracy: 0.7020
Epoch 84/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6149 - accuracy: 0.7030
Epoch 85/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6142 - accuracy: 0.7041
Epoch 86/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6136 - accuracy: 0.7055
Epoch 87/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6130 - accuracy: 0.7069
Epoch 88/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6124 - accuracy: 0.7085
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6118 - accuracy: 0.7094
Epoch 90/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6111 - accuracy: 0.7100
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6105 - accuracy: 0.7117
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6099 - accuracy: 0.7129
Epoch 93/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6093 - accuracy: 0.7141
Epoch 94/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6087 - accuracy: 0.7149
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6081 - accuracy: 0.7159
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6075 - accuracy: 0.7171
Epoch 97/100
250/250 [==============================] - 0s 2ms/step - loss: 0.6069 - accuracy: 0.7176
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6063 - accuracy: 0.7189
Epoch 99/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6057 - accuracy: 0.7196
Epoch 100/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6052 - accuracy: 0.7204

In [15]:
ypred = ann.predict(xtest)
ypred = ypred > 0.5
ypred

63/63 [==============================] - 0s 1ms/step

array([[False],
       [False],
       [False],
       ...,
       [False],
       [ True],
       [False]])

In [16]:
print(classification_report(ytest, ypred))

              precision    recall  f1-score   support

           0       0.78      0.88      0.83      1585
           1       0.14      0.07      0.09       415

    accuracy                           0.71      2000
   macro avg       0.46      0.48      0.46      2000
weighted avg       0.65      0.71      0.68      2000

In [17]:
ann.evaluate(xtrain,ytrain)

250/250 [==============================] - 1s 4ms/step - loss: 0.6049 - accuracy: 0.7206

[0.6048598289489746, 0.7206249833106995]

# Hyperparameter tuning

In [23]:
counter = 0

for i in range(0,3):
  if counter == 0:
    print('Python')
else:
    print('Machine learning')
counter = counter+1

Python
Python
Python
Machine learning

In [26]:
for i in range(0,3):
  print('Python')

print('Machine learning')

Python
Python
Python
Machine learning

In [21]:
counter

1

In [32]:
a = 10
type(a)

b = str(a)
type(b)
a = 'Python'
b = 'Batch'
a,b

a+' '+b

'Python Batch'

In [33]:
list(range(8,128,8))

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96, 104, 112, 120]

In [34]:
def hyper(hp): #This defines a function named hyper that takes a single argument hp.
    model = Sequential()
    counter = 0 #Initializes a counter variable to keep track of the current layer being added to the model.
    for i in range(hp.Int('num_layers', min_value = 1,max_value=10)):  #Loops through a range of layers, where the number of layers is a hyperparameter named 'num_layers' with a minimum value of 1 and a maximum value of 10.
        if counter ==0:
            model.add(Dense(hp.Int('units'+str(i),min_value=8,max_value=128,step=8),
                            activation = hp.Choice('activation'+str(i),values = ['relu','tanh','sigmoid']),
                            input_dim = 13)) #Adds the first layer with input dimensions specified by input_dim=13. The number of units ('units') and activation function ('activation') are hyperparameters, and their values are determined by the hp object.
        else:
          model.add(Dense(
              hp.Int('units'+str(i),min_value=8,max_value=128,step=8),
              activation = hp.Choice('activation'+str(i),values = ['relu','tanh','sigmoid'])))  #Adds subsequent layers (after the first layer) with hyperparameter-specified units and activation functions.
    counter+=1   #Increments the counter to keep track of the layers added.
    model.add(Dense(units = 1,activation='sigmoid'))   #Adds the output layer with a single unit and sigmoid activation function, typical for binary classification problems.
    model.compile(optimizer = hp.Choice('optimizer',values = ['adam','rmsprop','sgd']),
                loss = 'binary_crossentropy',metrics = 'accuracy')
    return model  #Returns the compiled model.

In [35]:
tuner = kf.RandomSearch(hyper,
                        objective = 'val_accuracy',
                        max_trials = 3)

In [36]:
tuner.search(xtrain,ytrain,epochs = 5, validation_data = (xtest,ytest))

Trial 3 Complete [00h 00m 06s]
val_accuracy: 0.7925000190734863

Best val_accuracy So Far: 0.859000027179718
Total elapsed time: 00h 00m 19s

In [37]:
tuner.get_best_hyperparameters()[0].values

{'num_layers': 8,
 'units0': 64,
 'activation0': 'relu',
 'optimizer': 'adam',
 'units1': 8,
 'activation1': 'relu',
 'units2': 8,
 'activation2': 'relu',
 'units3': 8,
 'activation3': 'relu',
 'units4': 8,
 'activation4': 'relu',
 'units5': 8,
 'activation5': 'relu',
 'units6': 8,
 'activation6': 'relu',
 'units7': 8,
 'activation7': 'relu'}

In [38]:
tuned_model = tuner.get_best_models(num_models=1)[0]
# tuned_model.build(x.shape)

In [39]:
tuned_model.fit(xtrain,ytrain,epochs=50, validation_data=(xtest,ytest))

Epoch 1/50
250/250 [==============================] - 3s 4ms/step - loss: 0.3445 - accuracy: 0.8570 - val_loss: 0.3465 - val_accuracy: 0.8600
Epoch 2/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3374 - accuracy: 0.8608 - val_loss: 0.3376 - val_accuracy: 0.8630
Epoch 3/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3366 - accuracy: 0.8631 - val_loss: 0.3477 - val_accuracy: 0.8550
Epoch 4/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3318 - accuracy: 0.8620 - val_loss: 0.3365 - val_accuracy: 0.8605
Epoch 5/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3300 - accuracy: 0.8633 - val_loss: 0.3437 - val_accuracy: 0.8590
Epoch 6/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3274 - accuracy: 0.8639 - val_loss: 0.3451 - val_accuracy: 0.8630
Epoch 7/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3257 - accuracy: 0.8633 - val_loss: 0.3397 - val_accuracy: 0.8635
Epoch 8/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3244 - accuracy: 0.8640 - val_loss: 0.3391 - val_accuracy: 0.8615
Epoch 9/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3215 - accuracy: 0.8671 - val_loss: 0.3489 - val_accuracy: 0.8610
Epoch 10/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3216 - accuracy: 0.8655 - val_loss: 0.3409 - val_accuracy: 0.8635
Epoch 11/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3202 - accuracy: 0.8669 - val_loss: 0.3341 - val_accuracy: 0.8650
Epoch 12/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3193 - accuracy: 0.8673 - val_loss: 0.3347 - val_accuracy: 0.8610
Epoch 13/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3164 - accuracy: 0.8666 - val_loss: 0.3343 - val_accuracy: 0.8625
Epoch 14/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3163 - accuracy: 0.8668 - val_loss: 0.3371 - val_accuracy: 0.8615
Epoch 15/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3143 - accuracy: 0.8715 - val_loss: 0.3443 - val_accuracy: 0.8580
Epoch 16/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3131 - accuracy: 0.8710 - val_loss: 0.3453 - val_accuracy: 0.8605
Epoch 17/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3137 - accuracy: 0.8677 - val_loss: 0.3379 - val_accuracy: 0.8580
Epoch 18/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3111 - accuracy: 0.8687 - val_loss: 0.3344 - val_accuracy: 0.8645
Epoch 19/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3106 - accuracy: 0.8690 - val_loss: 0.3425 - val_accuracy: 0.8605
Epoch 20/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3095 - accuracy: 0.8694 - val_loss: 0.3356 - val_accuracy: 0.8640
Epoch 21/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3072 - accuracy: 0.8714 - val_loss: 0.3404 - val_accuracy: 0.8640
Epoch 22/50
250/250 [==============================] - 1s 4ms/step - loss: 0.3043 - accuracy: 0.8748 - val_loss: 0.3415 - val_accuracy: 0.8600
Epoch 23/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3036 - accuracy: 0.8741 - val_loss: 0.3453 - val_accuracy: 0.8650
Epoch 24/50
250/250 [==============================] - 1s 5ms/step - loss: 0.3045 - accuracy: 0.8736 - val_loss: 0.3388 - val_accuracy: 0.8675
Epoch 25/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3040 - accuracy: 0.8736 - val_loss: 0.3412 - val_accuracy: 0.8645
Epoch 26/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3043 - accuracy: 0.8729 - val_loss: 0.3427 - val_accuracy: 0.8650
Epoch 27/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3024 - accuracy: 0.8741 - val_loss: 0.3425 - val_accuracy: 0.8605
Epoch 28/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3003 - accuracy: 0.8744 - val_loss: 0.3448 - val_accuracy: 0.8685
Epoch 29/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2990 - accuracy: 0.8771 - val_loss: 0.3423 - val_accuracy: 0.8665
Epoch 30/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2994 - accuracy: 0.8759 - val_loss: 0.3490 - val_accuracy: 0.8590
Epoch 31/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3014 - accuracy: 0.8752 - val_loss: 0.3435 - val_accuracy: 0.8670
Epoch 32/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2992 - accuracy: 0.8756 - val_loss: 0.3529 - val_accuracy: 0.8565
Epoch 33/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2973 - accuracy: 0.8771 - val_loss: 0.3505 - val_accuracy: 0.8655
Epoch 34/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2957 - accuracy: 0.8767 - val_loss: 0.3456 - val_accuracy: 0.8660
Epoch 35/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2944 - accuracy: 0.8792 - val_loss: 0.3480 - val_accuracy: 0.8590
Epoch 36/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2923 - accuracy: 0.8824 - val_loss: 0.3629 - val_accuracy: 0.8600
Epoch 37/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2967 - accuracy: 0.8777 - val_loss: 0.3482 - val_accuracy: 0.8640
Epoch 38/50
250/250 [==============================] - 1s 4ms/step - loss: 0.2923 - accuracy: 0.8773 - val_loss: 0.3528 - val_accuracy: 0.8575
Epoch 39/50
250/250 [==============================] - 1s 4ms/step - loss: 0.2938 - accuracy: 0.8780 - val_loss: 0.3457 - val_accuracy: 0.8640
Epoch 40/50
250/250 [==============================] - 1s 4ms/step - loss: 0.2897 - accuracy: 0.8809 - val_loss: 0.3486 - val_accuracy: 0.8615
Epoch 41/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2911 - accuracy: 0.8788 - val_loss: 0.3624 - val_accuracy: 0.8565
Epoch 42/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2900 - accuracy: 0.8814 - val_loss: 0.3523 - val_accuracy: 0.8610
Epoch 43/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2891 - accuracy: 0.8820 - val_loss: 0.3522 - val_accuracy: 0.8605
Epoch 44/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2871 - accuracy: 0.8804 - val_loss: 0.3600 - val_accuracy: 0.8650
Epoch 45/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2858 - accuracy: 0.8813 - val_loss: 0.3591 - val_accuracy: 0.8615
Epoch 46/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2875 - accuracy: 0.8814 - val_loss: 0.3530 - val_accuracy: 0.8575
Epoch 47/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2870 - accuracy: 0.8811 - val_loss: 0.3576 - val_accuracy: 0.8610
Epoch 48/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2826 - accuracy: 0.8823 - val_loss: 0.3616 - val_accuracy: 0.8620
Epoch 49/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2856 - accuracy: 0.8844 - val_loss: 0.3708 - val_accuracy: 0.8595
Epoch 50/50
250/250 [==============================] - 1s 3ms/step - loss: 0.2836 - accuracy: 0.8840 - val_loss: 0.3647 - val_accuracy: 0.8570

In [40]:
tuned_model.evaluate(xtrain,ytrain)

250/250 [==============================] - 1s 3ms/step - loss: 0.2778 - accuracy: 0.8844

[0.27776584029197693, 0.8843749761581421]

In [41]:
tuned_model.evaluate(xtest,ytest)

63/63 [==============================] - 0s 2ms/step - loss: 0.3647 - accuracy: 0.8570

[0.36473140120506287, 0.8569999933242798]